.main-slider {
  width: 100%;
  padding: 50px 0 100px;
  background: #f7f4ed; /* dark tech look */
  text-align: center;
  overflow: hidden;
  /* color: #fff; */
}

.slider-title {
  letter-spacing: 4px;
  font-size: 12px;
  margin-bottom: 50px;
  /* color: #9aa4ff; */
}

/* ===================== */
/* CAROUSEL */
/* ===================== */
.carousel {
  position: relative;
  height: 420px;
  width: 100%;
}

.shoe-card {
  background: #ffff;                 /* WHITE CARD */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* COMMON IMAGE STYLE */
.shoe-card img {
    max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  transition: 0.4s ease-in-out;
  /* filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.6)); */
}

/* CENTER IMAGE (FULL SIZE) */
.shoe-card.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1);
  z-index: 3;
   width: 360px;
  height: 360px;
}
.shoe-card.center img {
  height: 520px;
  
}

/* LEFT IMAGE (HALF VISIBLE) */
.shoe-card.left {
  position: absolute;
  left: -5%;
  opacity: 0.3;
  cursor: pointer;
  transform: scale(0.9);
    width: 300px;
  height: 400px;
}
.shoe-card.left img {
  height: 420px;
}

/* RIGHT IMAGE (HALF VISIBLE) */
.shoe-card.right {
  position: absolute;
  right: -5%;
  opacity: 0.3;
  cursor: pointer;
  transform: scale(0.9);
    width: 300px;
  height: 400px;
}
.shoe-card.right img {
  height: 420px;
}

/* Hover effect on side items */
.shoe-card.left:hover,
.shoe-card.right:hover {
  opacity: 0.75;
  transform: scale(0.95);
}

/* ===================== */
/* DETAILS */
/* ===================== */
.details {
  margin-top: 45px;
}

.details h3 {
  font-size: 34px;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.details ul {
  list-style: none;     /* removes bullet */
  padding: 0;           /* removes left gap */
  margin: 12px 0 0;
}

.details li {
  font-size: 17px;
  color: #e63737;
  margin-bottom: 6px;
}

.price {
  margin-top: 8px;
  font-size: 18px;
}

.new {
  color: #000; /* PlayStation blue */
  font-weight: 700;
  margin-right: 8px;
}

.old {
  opacity: 0.5;
  text-decoration: line-through;
  font-size: 15px;
}

.color {
  margin-top: 6px;
  font-size: 14px;
  color: #b0b7ff;
}

/* ===================== */
/* BUTTONS */
/* ===================== */
.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.buttons button {
  padding: 10px 22px;
  border-radius: 40px;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  /* color: #fff; */
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: 0.3s ease;
}

.buttons button:hover {
  background: #3b82f6;
  color: #fff;
  box-shadow: 0 10px 30px rgba(59, 130, 246, 0.4);
}
