.shop-category-section {
  padding: 40px 20px;
  background: #ffffff;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #000;
}

/* VIEWPORT: hides scrollbar */
.slider-viewport {
  width: 100%;
  overflow: hidden; /* important */
}

/* SLIDER TRACK */
.category-slider {
  display: flex;
  gap: 22px;
}

/* CARD */
.category-card {
  width: 240px;
  height: 210px;
  flex-shrink: 0;
  /* background: linear-gradient(135deg, #f3f4f6, #eef2ff); */
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.category-image {
  width: 100%;
  height: 180px;
  border-radius: 12px;
 background: linear-gradient(
  135deg,
  rgba(7, 102, 211, 0.5),
  rgba(202, 211, 220, 0.9));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.category-image img {
  width: 18vw;
  height: 100vh;
  object-fit: contain;
}

/* TITLE */
.category-title {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #111;
}