/* Overlay */
.login-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal */
.login-modal {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 22px 24px;
  font-family: system-ui, sans-serif;
}

/* Header */
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-tabs {
  display: flex;
  gap: 22px;
  font-size: 15px;
  font-weight: 500;
}

.login-tabs span {
  cursor: pointer;
  color: #888;
  padding-bottom: 6px;
}

.login-tabs span.active {
  color: #000;
  border-bottom: 2px solid #5433eb;
}

.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #555;
}

/* Form */
.login-form {
  margin-top: 18px;
}

.login-form input {
  width: 90%;
  padding: 12px;
  color:#888;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 13px;
  outline: none;
}

/* Password */
.password-field {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 17px;
  top: 14px;
  color: #aaa;
  cursor: pointer;
}

/* Forgot */
.forgot {
  text-align: right;
  margin: 6px 0 14px;
}

.forgot a {
  font-size: 13px;
  color: #777;
  text-decoration: none;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #5433eb;
  border: none;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

/* Signup text */
.signup-text {
  font-size: 13px;
  text-align: center;
  margin: 14px 0;
}

.signup-text span {
  color: #1a73e8;
  cursor: pointer;
}

/* Divider */
.divider {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin: 16px 0;
}

/* Social */
.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.social.google {
  color: #444;
}

.social.facebook {
  color: #1877f2;
}
/* =========================
   Phone Number Login
========================= */

.phone-input-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Country code box */
.country-code {
  min-width: 60px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f7f7f7;
  font-size: 13px;
  color: #333;
  text-align: center;
  font-weight: 500;
}

/* Phone input */
.phone-input-wrapper input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  color:#000;
}

/* OTP buttons */
.otp-btn {
  width: 100%;
  padding: 13px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 14px;
  transition: all 0.2s ease;
}

/* Whatsapp button */
.otp-btn.whatsapp {
  background:#5433eb;
  color: #fff;
  border: none;
}

.otp-btn.whatsapp:hover {
  background: #5433eb;
}

/* SMS button */
.otp-btn.sms {
  background: #fff;
  color: #5433eb;
  border: 1px solid #5433eb;
}

.otp-btn.sms:hover {
  background: #fff4ec;
}
